<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <ul *ngIf="villes" class="list-group">
        <li *ngFor="let ville of villes._embedded.villes"
            [ngClass]="ville === currentVille ? 'active' : ''"
            class="list-group-item clickable"
            (click)="onGetCinemas(ville)" >
          {{ville.nom}}
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="card">
          <div class="card-header">Liste des Cinémas</div>
          <div class="card-body">
            <ul *ngIf="cinemas" class="nav nav-pills">
              <li *ngFor="let cinema of cinemas._embedded.cinemas"
                  [ngClass]="cinema === currentCinema ?  'active' : ''"
                  (click)="onGetSalles(cinema)"
                  class="list-group-item clickable" >
                <a (click)="onGetSalles(cinema)">{{cinema.nom}}</a>
              </li>
            </ul>
            <div class="row" *ngIf="salles">
              <div *ngFor="let s of salles._embedded.salles" class="col-md-6 mt-3">
                <div class="card ">
                  <div class="card-header">
                    {{s.nom}}

                  </div>

                  <div class="card-body" *ngIf="s.projections">
                    <div class="row">
                      <div class="col-md-5">
                        <img width="170" height="220" src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}"/>
                      </div>
                      <div class="col-md-7" >
                        <ul class="list-group">
                          <li class="list-group-item">Seances:</li>
                          <li [ngClass]="p=== currentProjection ?  'active' : ''" (click)="onGetTicketsPlaces(p)" *ngFor="let p of s.projections._embedded.projections" class="list-group-item">
                            {{p.seance.heureDebut }} => Prix: {{p.prix|number:'0.00'}} DH
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div *ngIf="currentProjection">
                      <div class="row" *ngIf="currentProjection.tickets">
                        <button *ngFor="let t of currentProjection.tickets._embedded.tickets" class="btn btn-success ticket">
                          {{t.place.numero}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
